@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root {
    --yellow: #f9ca24;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
    scroll-behavior: smooth;
}

*::selection {
    background: var(--yellow);
    color: rgb(51, 51, 51);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1.4rem;
}

html::-webkit-scrollbar-track {
    background: rgb(7, 7, 7);
}

html::-webkit-scrollbar-thumb {
    background: var(--yellow);
}

#contact {
    font-size: 62.5%;
    overflow-x: hidden;
}

#contact::-webkit-scrollbar {
    width: 1.4rem;
}

#contact::-webkit-scrollbar-track {
    background: rgb(7, 7, 7);
}

#contact::-webkit-scrollbar-thumb {
    background: var(--yellow);
}

body {
    background: #d2d2f282;
    overflow-x: hidden;
    padding-left: 35rem;
}

section {
    min-height: 100vh;
    min-width: 80vh;
    padding: 1rem;
}

.btn {
    padding: .7rem 3rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i {
    padding: 0 .5rem;
    font-size: 1.8rem;
}

.btn:hover {
    background: var(--yellow);
}

.heading {
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid rgb(1, 9, 102);
    color: rgb(1, 9, 98);
}

.heading span {
    color: var(--yellow);
}


header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 30rem;
    background: #010a4a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user .logo img {

    height: 16rem;
    width: 14rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 2px solid var(--yellow);
}




header .user .name {
    font-size: 3.5rem;
    color: rgb(248, 196, 66);
}

header .user .post {
    font-size: 2rem;
    color: rgb(9, 1, 104);
}

header .navbar {
    width: 100%;
}

header .navbar ul {
    list-style: none;
    padding: 1rem 3rem;
}


header .navbar ul li a {
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover {
    background: var(--yellow);
}

.menu {
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: #333;
    color: rgb(11, 1, 102);
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}

.home h3 {
    font-size: 2.5rem;
    color: rgb(1, 5, 121);
}

.home h1 {
    font-size: 5rem;
    color: #fff;
    color: rgb(1, 5, 121);
}

.home h1 span {
    color: var(--yellow);
}

.home ul {
    letter-spacing: 1px;
    line-height: 40px;
    font-size: 2rem;
    color: #eee;
    color: rgb(1, 5, 121);
    padding: 1rem 0;
}

.home .exp {
    margin-top: 20px;
}

.about .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.about .row .info {
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h3 {
    font-size: 2rem;
    color: var(--yellow);
    padding: 1rem 0;
    font-weight: normal;
}

.about .row .info h3 span {
    color: #eee;
    color: rgb(1, 5, 121);
    padding: 0 .5rem;
}

.about .row .counter {
    flex: 1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box {
    width: 20rem;
    background: #222;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}

.about .row .counter .box span {
    font-size: 4rem;
    color: var(--yellow);
}

.about .row .counter .box h3 {
    font-size: 2rem;
    color: #fff;
    color: rgb(1, 5, 121);
}



.box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.box1 {
    background-color: #fff;
    box-shadow: 3px 0px 10px rgb(157, 157, 206);
    display: flex;
    flex-direction: column;
    height: 37rem;
    width: 25rem;
    border-radius: 1rem;
    margin: 2rem;
    word-wrap: break-word;
    cursor: pointer;
}

.box1 .image {
    height: 20rem;
    width: 25rem;
}

.box1 img {
    margin: 0px;
    background-color: #f9ca24;
    border: 1px solid #010a4a;
    border-radius: 1rem;
    transform: scale(0.9);
    height: 100%;
    width: 100%;

    object-position: 2px;
}

.box1 img:hover {
    opacity: 0.8;
}

.box1:hover {
    box-shadow: 3px 0px 10px rgb(157, 157, 206);
    transform: scale(1.02);
    /* mask-image: url('images/md.png'); */

}

.project {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.project h2 {
    margin: 3px;
}

.project div {
    margin: 10px;
}

.project>div>a {
    position: relative;
    border-radius: 5px;
    box-shadow: 2px 1px 3px black;
    margin: 20px;
    padding: 5px;
}

.project>div>a:hover {
    box-shadow: 2px 1px 8px black;
}

.prcontent {
    padding: 10px;


}



.education .box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}

.education .box-container .box {
    width: 27rem;
    margin: 4rem 7rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;
}

.education .box-container .box span {
    font-size: 1.3rem;
    background: #222;
    color: #fff;
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}

.education .box-container .box h3 {
    font-size: 2rem;
    color: rgb(9, 2, 103);
    padding-top: 1.5rem;
}

.education .box-container .box p {
    font-size: 1.4rem;
    color: rgb(90, 142, 254);
    padding: 1rem 0;
}

.education .box-container .box i {
    position: absolute;
    top: -1.5rem;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background: var(--yellow);
}

.contact {
    background-color: #eee;
    height: 10rem;
    overflow-y: scroll;

    margin: 20px;

    box-shadow: -10px 10px 20px rgb(19, 17, 17);
}

.contact .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content {
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}

.contact .row form .box {
    padding: 1.5rem;
    margin: 1rem 0;
    background: #3333;
    color: #fff;
    color: rgb(1, 5, 121);
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
}

.contact .row form .box::placeholder {
    text-transform: capitalize;
}

.contact .row form .message {
    height: 15rem;
    resize: none;
}

.contact .row .content .title {
    text-transform: uppercase;
    color: #fff;
    color: rgb(1, 5, 121);
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3 {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #eee;
    color: rgb(1, 5, 121);
    padding: 1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i {
    padding-right: 1rem;
    color: var(--yellow);
}

.footicon {
    display: flex;

}

.footicon h3 {
    margin-left: 10px;
    margin-right: 10px;
}

.top {
    position: fixed;
    bottom: 7.5rem;
    right: 2rem;
    z-index: 100;
    display: none;
}



.Experiences {
    padding: 50px 20px;
    text-align: center;
}

.heading {
    color: rgb(1, 5, 121);
    font-size: 36px;
}

.heading span {
    color: #f9ca24;
    /* Orange color for span */
}

/* .carousel {
    display: flex;
    overflow: hidden;
    transition: transform 1s ease-in-out;
} */

.experience {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px;
    min-width: 300px;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;

}

.experience:hover {
    box-shadow: 0 8px 16px rgb(0, 1, 37);
}

.year {
    background-color: rgb(1, 5, 121);
    color: #fff;
    padding: 5px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}



p {
    color: #666;
    margin-bottom: 15px;
}


li {
    margin-bottom: 8px;
}

.company-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-logo {
    max-width: 100px;
    /* Set the maximum width for the logo */
    margin-right: 10px;
    /* Add margin between the logo and company name */
}

.company-info h2 {
    color: rgb(1, 5, 121);
    /* Change color as needed */
    font-size: 15px;
    /* Adjust font size as needed */
    margin-bottom: 10px;
    /* Add margin as needed */
    display: inline;
    /* Display horizontally */
}

.company-info {
    display: flex;
    align-items: center;
    /* margin-bottom: 20px; */
    /* Add margin between each company-info block */
}

.company-logo {
    max-width: 50px;
    /* Set the maximum width for the logo */
    margin-right: 20px;
    /* Add margin between the logo and company name */
}

.company-info h2 {
    color: rgb(1, 5, 121);
    /* Change color as needed */
    font-size: 15px;
    /* Adjust font size as needed */
    margin: 0;
    /* Remove default margin */
}

.company-info p {
    color: #333;
    position: relative;
    /* Remove default margin */
}



















/* media queries  */

@media (max-width:1200px) {

    html {
        font-size: 55%;
    }

    .home {
        padding: 1rem 4rem;
    }


}

@media (min-width:991px) {}

@media (max-width:991px) {

    header {
        left: -120%;
    }

    #menu {
        display: block;
    }

    header.toggle {
        left: 0%;
    }

    body {
        padding: 0;
    }

}

@media (max-width:768px) {

    html {
        font-size: 50%;
    }

}

@media (max-width:400px) {

    header {
        width: 100vw;
    }

    .heading {
        margin: 0 3rem;
    }

    .about .row .counter .box {
        width: 100%;
    }

    .education .box-container .box {
        width: 100%;
    }

    .portfolio .box-container .box {
        width: 100%;
    }

    .contact .row form {
        margin: 3rem 0;
    }

}